*{
    margin: 0;
    padding: 0;
}
body{
    background: url(./smiling-young-sportsman-holding-skipping-rope-min.jpg) no-repeat;
    background-size: cover;
    background-size: contain;
}
.text-center{
    margin-right: 270px;
    margin-top: 140px;
    color:  #5e280f;
}
.text-center p{
   color: white;
}
.text-center h1{
    font-family: 'Henny Penny', cursive;
    font-size: 50px;
}
summary{
    color: #5e280f;
    margin-top: 60px;
}
.footer{
    text-align: center;
    margin-top: 50px;
}
.footer i{
    letter-spacing: 15px;
}
.img-circle{
    margin-left: 930px;
}


@media only screen and (min-width: 400px) {
    .gif-img{
        margin-left: 200px;
    }
  }