*{
    margin: 0;
    padding: 0;
}
body{
    background: url(./smiling-young-sportsman-holding-skipping-rope-min.jpg) no-repeat;
    background-size: cover;
    background-size: 100% 110%;

}
.text-center{
    margin-right: 270px;
    margin-top: 140px;
    color:  #5e280f;
}
.text-center p{
   color: #0696d8;
}
.text-center h1{
    font-family: 'Henny Penny', cursive;
    font-size: 50px;
}
summary{
    color: #5e280f;
    margin-top: 105px;
}
.footer{
    text-align: center;
    margin-top: 50px;
}
.footer i{
    letter-spacing: 15px;
}
.footer p t{
    font-family: 'Henny Penny', cursive;

}

